hr[class] {
	// reset hr be cause we need to apply style on it
	border: 0;
}

img {
	display: block;
}

.screen-reader-text {
	display: none;
}

.widget { @extend .c-card; }
// .widget-title { @extend .c-card__title; }

.gutter.gl {
	padding-right: 20px;
}

// @andrei – any sub-list should be indent
ol ul, ul ol {
	margin-left: 20px;
}