@import "settings";

@import "generic/normalize";
@import "generic/reset";

@import "base/typography";

@import "tools/typeline";

@import "components/chapter";

body {
	padding: 1em;
	max-width: 50em;
	margin-left: auto;
	margin-right: auto;
}

nav {
	a {
		text-decoration: none;
		color: inherit;
	}
}

code {
	display: block;
	padding: 1.5em;
	border: 1px solid #eee;
	background: linear-gradient(rgba(0,0,0,0.01) 0%, rgba(0,0,0,0.01) 50%, rgba(0,0,0,0.03) 50%, rgba(0,0,0,0.03));
	background-size: 3em 3em;
	line-height: 1.5;
}