/**
 * As well as using normalize.css, it is often advantageous to remove all
 * margins from certain elements.
 */

* {
	box-sizing: border-box;
}

body,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
dl, dd, ol, ul,
form, fieldset, legend,
figure,
table, th, td, caption,
hr {
    margin: 0;
    padding: 0;
}

img {
	width: auto;
	height: auto;
	max-width: 100%;
}

// h1, h2, h3, h4, h5, h6,
// p, blockquote, pre,
// dl, ol, ul,
// table {
// 	margin-top: 1rem;
// 	margin-bottom: 1rem;
// }
