<section class="page-header">
	<h1 class="project-name">{{ site.title }}</h1>
	<h2 class="project-tagline">{{ site.description }}</h2>
	<a href="https://github.com/pixelgrade/guides" class="btn">View on GitHub</a>
	<a href="http://pixelgrade.github.io/guides/contribute" class="btn">Contribute</a>
	<a href="http://pixelgrade.github.io/guides/style" class="btn">Style</a>
	<a href="http://pixelgrade.github.io/guides/wp-theme" class="btn">Theme</a>
	<a href="http://pixelgrade.github.io/guides/child" class="btn">Child Theme</a>
	<a href="http://pixelgrade.github.io/guides/components" class="btn">Components</a>
	<!--<a href="http://pixelgrade.github.io/guides/typography" class="btn">Typography</a>-->
</section>
