hr[class] {
	// reset hr be cause we need to apply style on it
	border: 0;
}

img {
	display: block;
}

.screen-reader-text {
	display: none;
}

.widget { @extend .c-card; }
// .widget-title { @extend .c-card__title; }
