$font-size: 	16px 	!default;
$line-height: 	1.6 	!default;

html {
	font-size: percentage($font-size/16px);
	line-height: $line-height;
	color: rgba(0,0,0,0.5);
}

h1, h2, h3, h4, h5, h6,
ul, ol, dl,
p,
table, pre, code {
	margin-bottom: 1rem;
}

h1, h2, h3, h4, h5, h6 {
	font-size: $line-height * 1rem;
	color: black;
	margin-top: 2rem
}

ul, ol {
	list-style-position: inside;
}

ul ul,
ol ol {
	margin-left: 2rem;
	margin-bottom: 0;
}

ol ol {
    list-style-type: lower-alpha;
}

code {
	white-space: pre-wrap;
}

.highlight {
	background-color: rgba(#63a35c, .3);
}

.strike {
	text-decoration: line-through;
}

.pre--inline {
	font-family: monospace, monospace;
	background-color: #f5f5f5;
}